<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zx_showSeparatorLine</key>
	<true/>
	<key>zx_isTranslucent</key>
	<true/>
	<key>zx_backgroundColor</key>
	<string>#ffffff</string>
	<key>zx_titleNormalColor</key>
	<string>#36e4f0</string>
	<key>zx_titleSelectedColor</key>
	<string>#3b87ef</string>
	<key>zx_customTitleFont</key>
	<true/>
	<key>zx_customTitleFontName</key>
	<string>Snell Roundhand</string>
	<key>zx_customTitleFontSize</key>
	<dict>
		<key>4_0</key>
		<integer>10</integer>
		<key>4_7</key>
		<integer>12</integer>
		<key>5_5</key>
		<integer>12</integer>
	</dict>
	<key>zx_barItems</key>
	<array>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<false/>
			<key>normalImage</key>
			<string>tabbarIcon1-normal</string>
			<key>selectedImage</key>
			<string>tabbarIcon1-selected</string>
			<key>title</key>
			<string>商城</string>
		</dict>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tabbarIcon2-normal</string>
			<key>selectedImage</key>
			<string>tabbarIcon2-selected</string>
			<key>title</key>
			<string>发现</string>
		</dict>
		<dict>
			<key>showAsPresent</key>
			<true/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tabbarIcon3-normal</string>
			<key>selectedImage</key>
			<string>tabbarIcon3-selected</string>
			<key>title</key>
			<string>地图</string>
		</dict>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tabbarIcon4-normal</string>
			<key>selectedImage</key>
			<string>tabbarIcon4-selected</string>
			<key>title</key>
			<string>购物车</string>
		</dict>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tabbarIcon5-normal</string>
			<key>selectedImage</key>
			<string>tabbarIcon5-selected</string>
			<key>title</key>
			<string>我的</string>
		</dict>
	</array>
</dict>
</plist>
