<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zx_tintColor</key>
	<string>#3b87ef</string>
	<key>zx_subTintColor</key>
	<string>#eff7fd</string>
	<key>zx_backgroundColor</key>
	<string>#eff7fd</string>
	<key>zx_borderColor</key>
	<string>#dedede</string>
	<key>zx_emptyColor</key>
	<string>#ffffff</string>
	<key>zx_customAColor</key>
	<string>#f29252</string>
	<key>zx_customBColor</key>
	<string>#ff4221</string>
	<key>zx_customCColor</key>
	<string>#ff4200</string>
</dict>
</plist>
