<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zx_textColorTitle</key>
	<string>#000000</string>
	<key>zx_textColorBody</key>
	<string>#3b3e43</string>
	<key>zx_textColorMark</key>
	<string>#9fa4ac</string>
	<key>zx_fontNameTitle</key>
	<string>PingFangSC-Regular</string>
	<key>zx_fontNameBody</key>
	<string>PingFangSC-Light</string>
	<key>zx_fontNameMark</key>
	<string></string>
	<key>zx_iconFont</key>
	<string>iconfont</string>
	<key>zx_fontSizeTitle</key>
	<dict>
		<key>4_0</key>
		<integer>15</integer>
		<key>4_7</key>
		<integer>17</integer>
		<key>5_5</key>
		<integer>18</integer>
	</dict>
	<key>zx_fontSizeSubtitle</key>
	<dict>
		<key>4_0</key>
		<integer>14</integer>
		<key>4_7</key>
		<integer>15</integer>
		<key>5_5</key>
		<integer>16</integer>
	</dict>
	<key>zx_fontSizeBody</key>
	<dict>
		<key>4_0</key>
		<integer>13</integer>
		<key>4_7</key>
		<integer>14</integer>
		<key>5_5</key>
		<integer>15</integer>
	</dict>
	<key>zx_fontSizeMark</key>
	<dict>
		<key>4_0</key>
		<integer>10</integer>
		<key>4_7</key>
		<integer>11</integer>
		<key>5_5</key>
		<integer>12</integer>
	</dict>
</dict>
</plist>
